button {
  background-color: white;
  cursor: default;

  &:hover {
    background-color: rgb(209, 209, 209);
  }

  &:active {
    background-color: rgb(121, 121, 121);
  }
}

a {
  background-color: white;
  border-radius: 4px;
  cursor: default;

  &:hover {
    background-color: rgb(209, 209, 209);
  }

  &:active {
    background-color: rgb(121, 121, 121);
  }
}

img {
  width: 30px;
}

table {
  margin-top: 10px;
  border-collapse: collapse;
}

th {
  font-weight: bold;
}

tr {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: black;
}

td {
  padding: 5px 5px 5px 5px;
}
