<form (ngSubmit)="submit(form.value)" #form="ngForm" style="width: 100%" novalidate>
  <h2 hidden="editing">Add</h2>
  <h2 hidden="!editing">Edit</h2>

  <!-- name -->
  <label>Restaurant name</label>
  <input name="name" type="text" [ngModel]="restaurant?.name">
  <br>

  <!-- type -->
  <label>Type</label>
  <select name="typeId" [ngModel]="restaurant?.typeId">
    <option *ngFor="let choice of options" [value]="choice.id" [selected]="choice.id === restaurant?.typeId">
      {{choice.type}}
    </option>
  </select>
  <br>

  <!-- minutes walking -->
  <label>Minutes walking</label>
  <input name="minutesWalking" type="number" [ngModel]="restaurant?.minutesWalking">
  <br>

  <!-- last visited -->
  <label>Last visited</label>
  <input name="lastVisited" type="date" [ngModel]="restaurant?.lastVisited">
  <br>

  <button type="submit">Submit</button>
</form>
<button (click)="back()">Return</button>