label {
  margin-right: 5px;
}

button {
  cursor: default;
  background: #9f72e6;
  border: 0;
  border-radius: 2px;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
}
button:hover {
  background: #b290e7;
}
button:active {
  background: #7947c9;
}
button:disabled {
  cursor: not-allowed;
  background: #b598e4;
}
